{% extends 'base_layout.html' %}
{% block title %}Search Character - FreeSo Search{% endblock %}
{% block style %}
    body{
        background-position: center;
        background-image: url('{{url_for("static", filename="bg.png")}}');
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
{% endblock %}
{% block body %}
    <div class="border mx-5 my-5 px-5 py-3" id='box'>
        <form method="GET">
            <div class="form-group">
                <label for="searchfield"></label>
                <input name="searchfield" id="searchfield" class="form-control" placeholder='Please enter character name.'>
            </div>
            <button type="submit" class="form-control btn btn-success">Search</button>
        </form>
    </div>
    {% if data %}
        <div class="border mx-5 mb-5 px-5 py-3" id='box'>
            <h6>Name :</h6>{{data['name']}}<br><br>
            <h6>Gender :</h6>{{data['gender']}}<br><br>
            <h6>Date of Birth :</h6>{{data['date']}}<br><br>
            <h6>Occupation :</h6>{{data['current_job']}}<br><br>
            <h6>Description :</h6>
            {% for i in data['description'] %}
                {{i}}<br>
            {% endfor %}
        </div>
    {% endif %}
    {% if error %}
    <div class="border mx-5 my-5 px-5 py-5 text-center text-light" id='error'>
        <i class="fas fa-times-circle fa-10x"></i><br>Character Not Found
    </div>
    {% endif %}
    {% if not data and num %}
    <div class="border mx-5 my-5 px-5 py-3" id='box'>
        <h1>Total Online : {{num}}</h1>
        <table class='table table-striped'>
            <tr class='text-center' style='background: linear-gradient(to right, rgb(63,172,237) , rgb(145,245,97))'>
                <th>Name</th>
                <th>Location</th>
            </tr>
            {% for i in online_list %}
                <tr style='background: linear-gradient(to right, rgb(189, 233, 245),rgb(193, 255, 164))'>
                    <td>{{i['name']}}</td>
                    <td>
                        {% if i['privacy_mode'] == 0 %}
                        {{i['location']}}
                        {% endif %}
                        {% if i['privacy_mode'] == 1 %}
                        Private
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}

{% endblock %}
{% block scriptend %}
    <script type="text/javascript">
        document.getElementById("character").className = "nav-link active";
    </script>
{% endblock %}