<!-- Navigation Bar -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <!-- Brand -->
    <a class="navbar-brand" href="."><img src='{{url_for("static", filename="freesosearch.png")}}' height='50px'></a>
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="./search-neighborhood" id="neighborhood"><i class="fas fa-city" style="height: 100%;color:white"></i> Neighborhood</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./search-lot" id="lot"><i class="fas fa-house-user" style="height: 100%;color:white"></i> Lot</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./search-character" id="character"><i class="fas fa-users" style="height: 100%;color:white"></i> Character</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./creator" id="creator"><i class="fas fa-user-graduate" style="height: 100%;color:white"></i> Creator</a>
          </li>
        </ul>
    </div>
</nav>rgb(250, 104, 104)rgb(243, 45, 45)